.header {
    align-items: center;
    background: url(../images/desktop/image-header.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 95vh;
    padding: 2rem 0;

    &__text {
        color: $white;
    }

    nav {
        padding: 2rem 0;
        width: 100%;
    }
    
    ul.nav {
        display: flex;
        flex: 1;
        justify-content: space-between;
        list-style-type: none;
        margin: 0 auto;
        margin-bottom: 50%;
        width: 95%;
    
        .nav-button {
            background-color: $white;
            border-radius: 2rem;
            color: $very-dark-desaturated-blue;
            font-size: 1.2rem;
            padding: 1rem 1.5rem;
        }
    
        li:first-child {
            margin-right: auto;
        }
    
        li:not(:first-child) {
            margin-right: 3rem;
        }
    
        a {
            color: $white;
            font-family: "Barlow";
            font-weight: 600;
            text-decoration: none;
        }
    }
}

